<!-- <h1>Register Form</h1>

<form [formGroup]="registerForm" (ngSubmit)="registerEmployee()">
    <table>
        <tr>
            <td>Enter Name</td>
            <td><input type="text" formControlName="empName" class="form-control w-50 m-3" />
                <div *ngIf="registerForm.get('empName').invalid && registerForm.get('empName').touched" class="text-danger">
                    Name is required
                </div>
            </td>
        </tr>
        <tr>
            <td>Enter Salary</td>
            <td><input type="text" formControlName="salary"  /></td>
        </tr>
        <tr>
            <td>Enter Gender</td>
            <td>
                <select formControlName="gender">
                    <option value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter Date of Join</td>
            <td><input type="date" formControlName="doj"  /></td>
        </tr>
        <tr>
            <td>Enter Country</td>
            <td><input type="text" formControlName="country"  /></td>
        </tr>
        <tr>
            <td>Enter Email</td>
            <td>
                <input type="email" formControlName="emailId" />
                <div *ngIf="registerForm.get('emailId').errors?.required && registerForm.get('emailId').touched" class="text-danger">
                    Email is required
                </div>
                <div *ngIf="registerForm.get('emailId').errors?.email && registerForm.get('emailId').touched" class="text-danger">
                    Please enter a valid email address
                </div>
            </td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td>
                <input type="password" formControlName="password" />
                <div *ngIf="registerForm.get('password').errors?.required && registerForm.get('password').touched" class="text-danger">
                    Password is required
                </div>
                <div *ngIf="registerForm.get('password').errors?.minlength && registerForm.get('password').touched" class="text-danger">
                    Password must be at least 8 characters long
                </div>
                <div *ngIf="registerForm.get('password').errors?.pattern && registerForm.get('password').touched" class="text-danger">
                    Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character
                </div>
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
              <input type="password" formControlName="confirmPassword" />
              <div *ngIf="registerForm.get('confirmPassword').touched && !registerForm.hasError('passwordMismatch')" class="text-success">
                Passwords matched
              </div>
              <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword').touched" class="text-danger">
                Passwords did not match
              </div>
            </td>
          </tr>
          
        <tr>
            <td>Enter Mobile Number</td>
            <td>
                <input type="text" formControlName="mobileNumber"  />
                <div *ngIf="registerForm.get('mobileNumber').errors?.required && registerForm.get('mobileNumber').touched" class="text-danger">
                    Mobile number is required
                </div>
                <div *ngIf="registerForm.get('mobileNumber').errors?.pattern && registerForm.get('mobileNumber').touched" class="text-danger">
                    Mobile number must start with a digit between 6 and 9 and must be 10 digits long
                </div>
            </td>
        </tr>
        <tr>
            <td>Enter Department ID</td>
            <td><input type="text" formControlName="deptId"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
            </td>
        </tr>
    </table>
</form> -->
<h1 align="center" style="color: red;">Employee Registration</h1> <br/>

<div class="container">
    <form #regForm="ngForm" (ngSubmit)="empRegister(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>EmpName</td>
                    <td><input type="text" name="empName" ngModel /> </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" name="salary" ngModel /> </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="gender" ngModel>
                            <option value="" selected>Select Gender</option>
                            <option value="Male"  >Male  </option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date Of Join</td>
                    <td><input type="date" name="doj" ngModel /> </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <select name="country"  ngModel>
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Email-Id</td>
                    <td><input type="text" name="emailId" ngModel /> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" ngModel /> </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <select name="department" ngModel>
                            <option value="" selected>Select Department</option>
                            <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Register</button> Already User? <a routerLink="//login">SignIn</a> </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>