<!-- <app-test></app-test> -->

<!-- <app-test2></app-test2> -->


<!-- <app-show-employees></app-show-employees> -->

<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-showempbyid></app-showempbyid> -->

<!-- <app-product></app-product> -->
<app-header></app-header>
<marquee scrollamount=20><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>

<router-outlet></router-outlet>


